.icons-header .fa {
    font-size: 1.5em;
    padding: 1em;
}

.container {
    position: relative;
}

.topleft {
    position: absolute;
    top: 60px;
    left: 80px;
    color:white;
}

.items-row{
    top:.5em;
    bottom:.5em;
    left:.5em;
    color:grey;
    font-size:1.5em;
}

.subscribe {
    padding:3em;
}

.footer {
    padding: 3em;
    text-align:center;
}


/* SEARCHBOX */

.stylish-input-group .input-group-addon {
    background: white !important;
}

.stylish-input-group .form-control {
    border-right: 0;
    box-shadow: 0 0 0;
    border-color: #ccc;
}

.stylish-input-group button {
    border: 0;
    background: transparent;
}


